[project]
	description = Retrieve files over IPFS and save them locally.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dominic Della Valle (djdv)
[access "refs/for/refs/*"]
	read = group user/Dominic Della Valle (djdv)
	push = group user/Dominic Della Valle (djdv)
	label-Code-Review = -2..+2 group user/Dominic Della Valle (djdv)
	label-Verified = -1..+1 group user/Dominic Della Valle (djdv)
	rebase = group user/Dominic Della Valle (djdv)
	removeReviewer = group user/Dominic Della Valle (djdv)
	submit = group user/Dominic Della Valle (djdv)
[access "refs/heads/*"]
	read = group user/Dominic Della Valle (djdv)
	create = group user/Dominic Della Valle (djdv)
	push = +force group user/Dominic Della Valle (djdv)
	pushMerge = group user/Dominic Della Valle (djdv)
[access "refs/tags/*"]
	push = group user/Dominic Della Valle (djdv)
	push = +force group user/Dominic Della Valle (djdv)
